<div class="container">
  <%= link_to 'Back to Home', root_path %>
  <div class="mt-5">
    <h1><%= @game.title %></h1>
    <div class="mt-2">
      <p>Description: <%= @game.description %></p>
    </div>
  </div>

  <div class="mt-5">
    <h2>Characters in this Game</h2>
    <% @game.characters.each do |char| %>
      <li><%= char.name %>, Level <%= char.level %> <%= char.classname %></li>
    <% end %>
    <br>
    <%= link_to "Add a Character", new_game_character_path(@game) %>
  </div>
</div>
