<div class="container">
  <h3>Create a new Character for <%= @game.title %></h3>
  <p>You will be able to edit it later</p>
  <div>
    <%= simple_form_for([@game, @character]) do |f| %>
      <%= f.input :name %>
      <%= f.input :classname, :collection => %w(Barbar Barde Druide
                                                Hexenmeister Kämpfer
                                                Kleriker Magier Mönch
                                                Paladin Schurke
                                                Waldläufer Zauberer) %>
      <%= f.input :level %>
      <%= f.input :race, :collection => %w(Elf Halbling Mensch Zwerg
                                                Drachenblütig Gnom Halbelf
                                                Halbork Tiefling) %>
      <%= f.input :alignment, :collection => %w(Lawful-Good Lawful-Neutral Lawful-Evil
                                                Chaotic-Good Chaotic-Neutral Chaotic-Evil
                                                Neutral-Good Neutral Neutral-Evil) %>
      <%= f.input :background, :collection => %w(Adeliger Einsiedler Zunfthandwerker
                                                 Krimineller Scharlatan Seemann
                                                 Soldat Sonderling Strassenkind
                                                 Tempeldiener Unterhaltungskünstler
                                                 Volksheld Weiser) %>
      <%= f.input :strength %>
      <%= f.input :dexterity %>
      <%= f.input :constitution %>
      <%= f.input :intelligence %>
      <%= f.input :wisdom %>
      <%= f.input :charisma %>
      <%= f.submit "Create!", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
